.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*li {*/
  /*display: inline-block;*/
/*}*/

/*li img {*/
  /*display: block;*/
/*}*/



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.label {
  width: 140px;
  display: inline-flex;
  margin-top: 8px;
  /*text-align: inherit;*/
}

.input {
  width: 500px;
  padding: 3px;
  font-size: 16px;
}
.inputLen{
  padding: 5px;
  font-size: 16px;
}

.button {
  font-size: 16px;
  padding: 15px;
  width: 200px;
  margin-top: 40px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

.black {
  color: black;
}
